@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');

body .menbere-400 {
  font-family: "Menbere", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
body .menbere-500 {
  font-family: "Menbere", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
}
body .menbere-600 {
  font-family: "Menbere", sans-serif!important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}